:root {
    --primary: #9147FF;
    --secondary: #4C4C4F;
}

.mycontainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.grayscale {
    filter: grayscale(100%);
}

.loader {
    border: 10px solid var(--secondary); /* Light grey */
    border-top: 10px solid var(--primary);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
